body{
    padding: 15px
}
.header{
    background-color: orange;
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    font-size: 36px;
    padding: 20px 20px 20px 40px;
}
.body{
    margin-top: 40px;
}
.post__title{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    font-weight: 900;
}
.post__text{
    font-size: 12px;
}
.post__publish-Date{
    font-size: 10px;
    margin-bottom: 10px;
}
.post__detail-publish-Date{
    font-size: 12px;
    position: absolute;
    right: 10px
}



